*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain; /*keeps images proportional*/
}

html {
  --green: #b2bc80;
  --gray-light: #449384;
  --light-green: rgba(178, 188, 128, 50%);
  --yellow: #ffcc33;
  --font-sans-serif: "Enriqueta", serif;
  --font-header: "Helvetica", sans-serif;
}

body {
  font-family: var(--font-sans-serif);
  font-size: medium;
  color: black;
  line-height: 1.5;
  /*background-color: rgba(255, 204, 51, 10%);*/
  margin: 0;
}

.header-image {
  padding: 0;
  background-size: cover;
}

h1, h2 {
  font-family: var(--font-header);
  color: var(--green);
}

h3{
  font-family: var(--font-sans-serif);
}

h4{

}

h5 {
  font-size:medium;
  font-weight: normal;
  
}

a {
  /* color: white; */
}

figcaption {
text-align: center;
font-size: xx-small;
caption-side: top;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: xx-large;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*resizing flexed images and gifs*/
.resize {
  width: 350px;
  height: auto;
}

.container {
  flex-wrap: wrap;
  max-width: 75rem;
  margin: auto;
  padding: 0 1rem;
}

/*line break border*/
hr {
    border-top: 3px dotted var(--green);
}

/*header*/

  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /*name in header*/
  .header--title {


  }

  /*horizontal menu*/
  .menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu a{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }

  /*add something that shows which menu item is selected here*/

/*Hook*/
  .header-text {
    font-size: 5rem;
  }

  .block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 0;
    align-items: center;
  }

  /* .block-text .block-subhead {
    flex: 1;
  } */

  .header-block-text {
    padding-right: 5rem;
    max-width: 500px;
  } 

.block-text {
    padding-right: 5rem;
  } 

  .block-image { /*why can't I get this wrap?*/
    padding: 2rem;
  }

  .block-image-resize {
    width: 500px;
    height: auto;
  }
  
/*Problem Statement*/

.problems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem;
}

.item {
  display: flex;
  background: var(--light-green);
  background-image: url(img/arrows-09-09-09.png);
  background-size: 1200px;
  border-radius: 15px;
  padding: 50px;
  margin: 10px;
}

.item-img {
  padding: 2rem 2rem 2rem 0;
}

.about--title {
  text-align: center;
}

/*prototypes*/
.prototypes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: auto;
  padding: 0 1rem;
  object-fit: contain;
}
/*footer*/
.footer {
  background: var(--green);
  color: white;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer--list {
  margin: 0;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.footer--list a {
  padding: 1rem;
  text-decoration: none;
}

/*bibliography*/

.bibliography {
  /* background-color: ;
 how to put a transparent box behind it that scrolls?*/
}

.button-style {
  background-color:rgba(178, 188, 128);
  background-image: url(img/button-border.png);
  width: 300px;
  height: 50px;
  background-size: 300px 50px;
  border-radius: 30px;
  text-align: center;
  filter: drop-shadow(8px 8px 5px black);
}